body {
    background: #eec;
    font-family:  sans-serif;
}

img {
    width: 100%;
}
#bolder, #italic, #underline{
    font-weight: bolder;
    cursor: pointer;
}
#italic{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
#underline{
    text-decoration: underline;
}

.activer {
    background: #000;
    color : white;
}
.b{
    font-weight: bolder;
}
.i{
    font-style: italic;
}
.u{
    text-decoration: underline;
}
#underline{
    color: red;
}
#bolder{
    color: red;
}
#italic{
    color: red;
}
